{% extends 'MovieMovieBundle::layout.html.twig' %}
{% block title %}{{ review.id }} {% endblock %}
{% block sidebar %}
{% endblock %}
{% block body %}
    {% if review %}
        <div class="mt-3">
            <h2 class="display-7 text-info">Movie ID: {{ review.movie.id }}</h2>
            <h2 class="display-4 text-info">Title: {{ review.movie.title }}</h2>
            <h2 class="display-4 text-info">Overall Rating: {{ review.movie.rating }}</h2>
        </div>
        <hr>
        <br>
        <div>
        <h1>ReviewID: {{ review.id }}</h1>
        <p> {{ review.review }}
        </p>
        <h1>Review Rating</h1>
        <p> {{ review.rating }}
        </p>

        {# if current user is the owner of this record, they can edit the review #}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if app.user.id == review.reviewer.id %}
                <button class="btb btn-dark"><a
                            href="{{ path('review_edit',{'id': review.id} ) }}">Edit</a>
                </button>
            {% endif %}
        {% endif %}
    {% endif %}

    </div>
    <div class="btn-toolbar">
        <button class="btn btn-warning"><a href="{{ path('movie_view', {'id': review.movie.id}) }}">Go back</a>
        </button>
    </div>
{% endblock %}
