{% extends 'MovieMovieBundle::layout.html.twig' %}
{% block title %}Edit Movie{% endblock%}
{% block body %}
    <header>
        <h1>Edit {{  movie.title }}</h1>
    </header>
    <div class="container-fluid">
        {% if movie.imageFile %}
            <img src="{{  asset('uploads/images/') ~ movie.imageFile }}" alt="Movie Poster" />
        {% else %}
            {% image '@MovieMovieBundle/Resources/Images/image_2.jpg' %}
                <img src="{{ asset_url }}" class="img-fluid" style="width: 100%" alt="Movie image"/>
            {% endimage %}
        {% endif %}
    </div>
    <form action="" method="post">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </form>

{#    add in a confirm #}
    <button class="btn btn-danger"><a href="{{ path('movie_index') }}">Cancel Editing Movie</a></button>
{% endblock %}