{% extends 'MovieMovieBundle::layout.html.twig' %}
{% block title %}Edit Movie{% endblock %}
{% block sidebar %}
    <div class="container-fluid">
        {% if movie.imageFile %}
            <img src="{{ asset('uploads/images/') ~ movie.imageFile }}" alt="Movie Poster"/>
        {% else %}
            {% image '@MovieMovieBundle/Resources/Images/image_2.jpg' %}
                <img src="{{ asset_url }}" class="img-fluid" style="width: 100%" alt="Movie image"/>
            {% endimage %}
        {% endif %}
    </div>
{% endblock %}
{% block body %}
    <header>
        <h1>Edit {{ movie.title }}</h1>
    </header>
    <div class="form-group mt-3">
        <form action="" method="post">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </form>
    </div>
    {# TODO add in a confirm #}

    <div class="btn-toolbar">
        <button class="btn btn-danger"><a href="{{ path('movie_index') }}">Cancel Editing Movie</a></button>
    </div>
{% endblock %}