{% extends 'MovieMovieBundle::layout.html.twig' %}
{% block title %}Add review {% endblock%}
{% block body %}
    <h1>ID: {{ movie.id }}</h1>
    <h1>Title: {{ movie.title }}</h1>
    <form action="" method="post">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </form>

{#    Cannot get the path to come back to the show page for specific movie so just going back to index for now#}
    <button class="btn btn-danger"><a href="{{ path('movie_index') }}">Cancel Adding Review</a></button>
{% endblock %}