{% extends 'MovieMovieBundle::layout.html.twig' %}
{% block title %}{{ movie.title }} {% endblock%}
{%  block sidebar %}
    <h2>Director: {{  movie.director }}</h2>
    <h2>List of actors: Need to add list of actors to DB</h2>
    <h2>Running Time {{  movie.runningTime }}</h2>
{%  endblock %}
{% block body %}
    <h1> {{ movie.title }} {{ movie.rating }}</h1>
    <h2>Storyline</h2>
    <p>{{ movie.summary }}</p>
    <hr>
    <div class="container-fluid">
        {% image '@MovieMovieBundle/Resources/Images/image_2.jpg' %}
            <img src="{{ asset_url }}" class="img-fluid" style="width: 100%" alt="Movie image" />
        {% endimage %}
    </div>
    <hr>
    <div>
        <h1>Reviews</h1>
        <button class="btn btn-success"><a href="{{ path('movie_newreview') }}">Add review</a></button>
        <h3>Table showing all reviews</h3>
        {% if reviews %}
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Movie_ID</th>
                    <th>Review_ID</th>
                    <th>Review</th>
                    <th>Reviewer_ID</th>
                    <th>Rating</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for review in reviews %}
                    <tr>
                        <td>
                            MovieID
                        </td>
                        <td>
                            {{ review.id }}
                        </td>
                        <td>
                            {{ review.review }}
                        </td>
                        <td>
                            ReviewerId
                        </td>
                        <td>
                            {{ review.rating }}
                        </td>
                        <td>
{#                            if current user is the owner of this record, they can edit the review #}
                            <button class="btb btn-dark">Edit</button>
                        </td>
                    </tr>
                {%  endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No reviews to show</p>
        {% endif %}

    </div>
    <a href="/">Go back</a>

{% endblock %}