{% extends 'MovieMovieBundle::layout.html.twig' %}
{% block title %}{{ app.user.username }} {% endblock %}
{% block sidebar %}
    <h2>UserID: {{ app.user.id }}</h2>
    <h2>Username: {{ app.user.username }}</h2>
    {# TODO add in link to update details form #}
    <h2><a href="/">Update details</a></h2>
{% endblock %}
{% block body %}
    <div>
        <h1>User Details for {{ app.user.username }}</h1>

        {% if reviews %}
            <table id="movies" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Review ID</th>
                    <th>Movie</th>
                    <th>Review</th>
                    <th>Rating</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for review in reviews %}
                    <tr>
                        <td>
                            {{ review.id }}
                        </td>
                        <td>
                            {{ review.movie.title }}
                        </td>

                        <td>
                            {{ review.review }}
                        </td>
                        <td>
                            {{ review.rating }}
                        </td>
                        <td>
                            <a href="{{ path('movie_review_edit', {'id': review.id}) }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have not reviewed any movies yet.</p>
            <p>Select a movie from the <a href="{{ path('movie_index') }}">list</a> and give it a review!</p>
        {% endif %}

    </div>
    <button class="btn btn-warning"><a href="/">Go back</a>
    </button>

{% endblock %}